@page "/"

<div class="main box mt-4">
    <h1 class="text-center">
        24点解法计算器
    </h1>
    <div class="text-center">
        <small class="text-muted">Blazor WASM / .NET @Environment.Version</small>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <input type="number" class="form-control" placeholder="数值1" id="input-num1" spellcheck="false" @bind="Num1" />
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="数值2" id="input-num2" spellcheck="false" @bind="Num2" />
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="数值3" id="input-num3" spellcheck="false" @bind="Num3" />
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="数值4" id="input-num4" spellcheck="false" @bind="Num4" />
        </div>
        <div class="col">
            <button class="btn btn-success">求解</button>
        </div>
    </div>
    
    <div class="result-box mt-4">

    </div>
</div>

<div class="mt-3 text-center">
    <a href="https://edi.wang" target="_blank">Edi Wang</a>
</div>